html
{
	overflow: hidden;
}

body
{
  background-color: white;
  overflow: hidden;
  position: relative;
}

.center 
{
	float: left;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.graphic 
{
  background-color: white;
  border-radius: 10px;
  filter: blur(0px);
}
